<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tech Blog</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <section class="topSection" style="text-align:center; padding-bottom:30px;">
    <div class="container is-fluid">
      <section class="hero is-small">
        <div class="hero-body">
          <h1 class="title is-1 heroTitle">The Tech Blog</h1>
          <h2 class="subtitle is-4 heroTitle2">
            Blogs from techies like you and me
          </h2>
        </div>
      </section>
      <header>
          <section class="topNav">
            <nav class="navbar is-justify-content-center" role="navigation">
              <a class="navA" href="/">Home</a>
       {{#if loggedIn}}
              <a class="navbar-item" href="/dashboard">Dashboard</a>
          {{/if}}
              <!-- <a class="navbar=item" href="logout">Logout</a> -->
            </nav>
          </section>
      </header>

 
              <div class="topBtns">
                <a class="button logBtn" href="/login">Log In</a>
                <a class="button logBtn" href="/login">Sign Up</a>
              </div>
 
</div>
      </section>


<main class="main" id="main">

      {{{ body }}}
    
</main>

 <footer class="container is-fluid footer">
      <div class="content has-text-centered">
        <p>The Tech Blog</p>
      </div>
    </footer>
     {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

  </body>
</html>