        <form class="edit-post-form">
<div class="container is-fluid blogContainer">
        <h2 class="head">Edit Your Blog</h2>

          <div class="field">
        <h2 class="label">
          Edit Title
        </h2>
          <div class="control">
            <input class="input" id="post-title" type="text" value="{{post.title}}" >
          </div>
          </div>

          <div class="field">
          <h2 class="label">
            Edit Body
          </h2>
          <div class="control">
            <textarea class="textarea" id="post-blog-body" rows = 10 >{{post.blog_body}}</textarea>
          </div>
          </div>

           <div class="field-is-grouped">
            <div class="control">
            <input class="button edit-post-form" type="submit" value="Save post"></input>
            </div>
            <div class="control">
            <input class="button delete-post-btn" type="submit" value="Delete post"></input>
            </div>
            </div>

            </div>
        </form>

         



<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>