
{{#if posts.length}}

   {{#each posts as |post|}}
<section class="card-area">
        <div class="container is-fluid">
          <div class="columns">
            <div class="column is-full">
              <a class="card-link" href="/single-post">
                <div class="card">
                  <header class="card-header">
                    <p class="card-header-title">{{title}} by {{user.username}} on {{format_date created_at}}</p>
                  </header>

                  <div class="card-content">
                    <div class="content">{{post.blog_body}}</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
    </section>
    {{/each}}
    
</>
{{/if}}

