      
      <div class="container is-fluid">
        <div class="columns is-centered">
          <div class="column is-half" style="text-align:center;">
            

              <section class="logIn">
              <p class="loginText">Already a member? Log in here!</p>
            <form class="login-form" id="login-form">
              <div>
                <label for="username-login">User name:</label>
                <input type="text" id="username-login" />
              </div>
              <div>
                <label for="password-login">Password:</label>
                <input type="password" id="password-login" />
              </div>
              <div class="topBtns">
                <button class="button" type="submit">Log in</button>
              </div>
            </form>
            </section>

              <section class="signUp">
              <p class="loginText">Not a member? Sign up here!</p>
            <form class="signup-form" id="signup-form">
              <div>
                <label for="username-signup">User name:</label>
                <input type="text" id="username-signup" />
              </div>
              <div>
                <label for="password-signup">Password:</label>
                <input type="password" id="password-signup" />
              </div>
              <div class="topBtns">
                <button class="button" type="submit">Sign up</button>
              </div>
            </form>
            </section>
          </div>
        </div>
      </div>
<script src="/javascript/login.js"></script>
   