
.navbar a {
    padding: 10px;
}

.cardHeader {
    background-color: gray;
}

.logIn{
    margin: 10px;
    padding: 20px;
}

.logIn input, label{
    padding: 10px;
    margin: 10px;
    font-size: large;
}

.topBtns {
flex: auto;
align-items: center;
/* display: flex; */
flex-wrap: wrap;
justify-content: flex-start;
padding-bottom: 20px;
margin-bottom: 20px;
}

.logBtn{
    margin: 10px;
    justify-content: space-between;
}

/* .main {
    margin: 20px;
} */