.main {
    background-color: lightgray;
    padding-bottom: 20px;
}

.heroTitle, .heroTitle2 {
    color: darkslategray;
}
.head {
    font-size: x-large;
    color: grey;
    font-weight: bold;
    text-align: center;
}

.label {
    font-size: large;
}
.cardHeader {
    background-color: grey;
    color: black;
}

.logIn, signUp{
    margin: 10px;
    padding: 20px;
}

.logIn input, label{
    padding: 10px;
    margin: 10px;
    font-size: larger;
    border-radius: 15px;
    font-weight: bold;

}

.signUp input, label{
    padding: 10px;
    margin: 10px;
    font-size: larger;
    border-radius: 15px;
    font-weight: bold;
}

.loginText {
    font-size: larger;
    padding-bottom: 10px;
    font-weight: bold;
}

.topBtns {
flex: auto;
align-items: center;
/* display: flex; */
flex-wrap: wrap;
justify-content: flex-start;
padding-bottom: 20px;
margin-bottom: 20px;
}

.logBtn{
    margin: 10px;
    justify-content: space-between;
}

.button {
    background-color: darkgray;
    box-shadow: 0 0 10px darkgray;
    border: 2px solid darkgray;
    font-weight: bold;
    color: black;
}

.button:hover{
    box-shadow: 0 0 10px white;
}

.navbar{
    background-color: lightgray;
    font-size: large;
    font-weight: bold;
    color: black;
}

.topSection {
    background-color: lightgrey;
}

.navA{
    font-size: large;
    color: black;
    padding: 20px;

}
.navA:hover {
    color: black;
    /* font-weight: bolder; */
    font-size: x-large;
}

.card {
    box-shadow: 0 0 10px darkgrey;
    border-radius: 10px;
}

.commentCont {
    padding: 10px;
}

.footer {
    position: sticky;
    background-color: grey;
    font-size: x-large;
    color: whitesmoke;
}